section {

	/* generic frame styles */
	a .hover-frame {
		border: 0.5rem solid #222;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity .3s ease;
	}

	a:hover .hover-frame {
		opacity: .3;
	}

	.story {
		min-height: 18.75rem;
	}

	.icon {
		position: absolute;
		right: 5rem;
		bottom: 0;
		display: none;


		@media screen and (min-width: $sm) and (max-width: $lg) {
			display: inline-block;
			font-size: 5em;
		}

		@media screen and (min-width: $lg) {
			display: inline-block;
			font-size: 7.5rem;
		}
	}

	/* section specific */
	&.home {
		background:url(../images/background1.png) center top no-repeat fixed;
		height: 37.5rem;
		margin: 0 auto;
		padding: 0;

		.info {
			.name {
				background: $blue;

				h2 {
					margin-bottom: 0;
				}
			}

			.contact {
				background: $orange;
			}

			@media screen and (min-width: $md) {
				margin: 4.375rem 9.375rem 0 -9.375rem;
			}
		}

		.box-title {
			position: absolute;
			bottom: 0;
			width: 100%;
			background: rgba(255,255,255,0.1);
			padding: 0.625rem 1.25rem;
			font-weight: 100;
			text-transform: uppercase;
		}

		.fa {
			position: absolute;
			width: 100%;
			text-align: center;
			margin: auto;
	 		top: 0; 
	 		left: 0; 
	 		bottom: 0; 
	 		right: 0;

	 		@media screen and (min-width: $sm) and (max-width: $lg) { 
	 			font-size: 3em;
	 			height: 3rem;
	 		}

	 		@media screen and (min-width: $lg) { 
	 			font-size: 4em;
	 			height: 4rem;
	 		}
		}
	}

	&.about {
		background: $white;
		color: $black;
		min-height: 18.75rem;
		margin: 0 auto;
		overflow: hidden;
		padding: 0;
	}

	&.skills {
		background: url(../images/background2.png) 50% 0 no-repeat fixed;
		color: white;
		padding: 6.25rem 0 0 0; 

		.skill {
			height: 6.375rem;
			margin-bottom: 3.125rem;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			opacity: 0.3;
			transition: opacity 1.5s ease 1s;
			position: relative;

			&:hover, .touch & {
				span {
					opacity: 1;
				}
			}
		}

		&.inview {
			.skill {
				opacity: 1;
			}
		}

		span {
			opacity: 0;
			transition: opacity .3s ease;
			position: absolute;
			bottom: -1.9375rem;
			text-align: center;
			width: 100%;
			font-weight: 100;
		}

		.html5 {
			background-image: url(../images/logos/html5.svg);
		}

		.css3 {
			background-image: url(../images/logos/css3.svg);
		}

		.jquery {
			background-image: url(../images/logos/jquery.svg);
		}

		.backbone {
			background-image: url(../images/logos/backbone.svg);
		}

		.meteor {
			background-image: url(../images/logos/meteor.png);
		}

		.git {
			background-image: url(../images/logos/git.svg);
		}

		.yeoman {
			background-image: url(../images/logos/yeoman.svg);
		}

		.grunt {
			background-image: url(../images/logos/grunt.svg);
		}

		.bower {
			background-image: url(../images/logos/bower.svg);
		}

		.less {
			background-image: url(../images/logos/less.svg);
		}

		.sass {
			background-image: url(../images/logos/sass.png);
		}

		.modernizr {
			background-image: url(../images/logos/modernizr.png);
		}
	}

	&.recent-projects {
		.recent-project-wrapper {
			text-align: center;

			.desktop {
				img {
					width: 75%;
				}
			}

			.tablet {
				right: 0;
				bottom: 0;
				left: inherit !important;
				top: 50% !important;

				img {
					width: 75%;
				}
			}

			.mobile {
				top: 45% !important;
				left: 10% !important;

				img {
					width: 75%;
				}
			}
		}

	}

	&.other-projects {
		background: url(../images/background3.png) 50% 0 no-repeat fixed;
		color: white;
		height: 650px;
		padding: 100px 0 0 0; 
	}

	&.contact {
		background: #ccc;
		height: 400px;
		margin: 0 auto;
		padding: 40px 0 0 0;
	}
}