section {

	/* generic frame styles */
	a .hover-frame {
		border: 0.5rem solid #222;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity .3s ease;
		z-index: 9999;
	}

	a:hover .hover-frame {
		opacity: .3;
	}

	.story {
		@media screen and (min-width: 80em) {
			max-width: 75rem;
			margin: 0 auto;
		}
	}

	.icon {
		position: absolute;
		right: 5rem;
		top: 60%;

		.fa {
			display: none;

			@media screen and (min-width: $sm) and (max-width: $lg) {
				display: inline-block;
				font-size: 5em;
			}

			@media screen and (min-width: $lg) {
				display: inline-block;
				font-size: 7.5rem;
			}
		}
	}

	/* section specific */
	&.home {
		background:url(../images/background1.png) center top no-repeat fixed;
		margin: 0 auto;
		padding: 0;

		@media screen and (min-width: $md) {
			padding-bottom: 2rem;
		}

		.info {
			.name {
				background: $blue;

				h2 {
					margin-bottom: 0;
					font-size: .8rem;

					  	@media screen and (max-width: $sm) and (orientation: landscape) {
							font-size: 1.6rem;
						}

						@media screen and (min-width: $sm) and (max-width: $md) {
							font-size: 1.6rem;
						}

						@media screen and (min-width: $md) {
							font-size: 1.2rem;
						}

						@media screen and (min-width: $lg) {
							font-size: 1.6rem;
						}
				}
			}

			.contact {
				background: $orange;
			}

			.name-wrap a {
				float: left;
			}

			@media screen and (min-width: $md) {
				margin: 4.375rem 9.375rem 0 -9.375rem;
			}
		}

		.box-title {
			position: absolute;
			bottom: 0;
			width: 100%;
			background: rgba(255,255,255,0.1);
			padding: 0.625rem 1.25rem;
			font-weight: 100;
			text-transform: uppercase;
			z-index: 9999;
		}

		.fa {
			position: absolute;
			width: 100%;
			text-align: center;
			margin: auto;
	 		top: 0; 
	 		left: 0; 
	 		bottom: 0; 
	 		right: 0;

	 		@media screen and (max-width: $sm) and (orientation: landscape) {
    			font-size: 3rem;
    			height: 3rem;
  			}

	 		@media screen and (min-width: $sm) and (max-width: $lg) { 
	 			font-size: 3em;
	 			height: 3rem;
	 		}

	 		@media screen and (min-width: $lg) { 
	 			font-size: 4em;
	 			height: 4rem;
	 		}
		}
	}

	&.about {
		background: $white;
		color: $black;
		margin: 0 auto;
		overflow: hidden;
		padding: 0;
	}

	&.skills {
		background: url(../images/background2.png) 50% 0 no-repeat fixed;
		color: white;

		h2 {
			margin-bottom: 0.8em;
		}

		.skill {
			height: 6.375rem;
			margin-bottom: 3.125rem;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			opacity: 0.2;
			transition: opacity 1.5s ease;
			position: relative;

			&:hover, .touch & {
				span {
					opacity: 1;
				}
			}

			&.html5 {
				transition-delay: .5s;
			}

			&.css3 {
				transition-delay: .6s;
			}

			&.jquery {
				transition-delay: .7s;
			}

			&.backbone {
				transition-delay: .8s;
			}

			&.meteor {
				transition-delay: .9s;
			}

			&.git {
				transition-delay: 1s;
			}

			&.yeoman {
				transition-delay: 1.1s;
			}

			&.grunt {
				transition-delay: 1.2s;
			}

			&.bower {
				transition-delay: 1.3s;
			}

			&.less {
				transition-delay: 1.4s;
			}

			&.sass {
				transition-delay: 1.5s;
			}

			&.modernizr {
				transition-delay: 1.6s;
			}
		}

		&.inview {
			.skill {
				opacity: 1;
			}
		}

		span {
			opacity: 0;
			transition: opacity .3s ease;
			position: absolute;
			bottom: -1.9375rem;
			text-align: center;
			width: 100%;
			font-weight: 100;
		}

		.html5 {
			background-image: url(../images/logos/html5.svg);
		}

		.css3 {
			background-image: url(../images/logos/css3.svg);
		}

		.jquery {
			background-image: url(../images/logos/jquery.svg);
		}

		.backbone {
			background-image: url(../images/logos/backbone.svg);
		}

		.meteor {
			background-image: url(../images/logos/meteor.png);
		}

		.git {
			background-image: url(../images/logos/git.svg);
		}

		.yeoman {
			background-image: url(../images/logos/yeoman.svg);
		}

		.grunt {
			background-image: url(../images/logos/grunt.svg);
		}

		.bower {
			background-image: url(../images/logos/bower.svg);
		}

		.less {
			background-image: url(../images/logos/less.svg);
		}

		.sass {
			background-image: url(../images/logos/sass.png);
		}

		.modernizr {
			background-image: url(../images/logos/modernizr.png);
		}
	}

	&.recent-projects {
		hr {
			margin: 1.5rem 0;
		}

		.recent-project-wrapper {
			text-align: center;

			.desktop {
				width: 100%;

				img {
					width: 100%;
				}
			}

			.tablet {
				width: 100%;

				img {
					max-width: 50%;
					margin: 55% -40% 0 0;
				}
			}

			.mobile {
				width: 100%;

				img {
					max-width: 20%;
					margin: 49% 0 0 -63%;
				}
			}

			.scene {
				padding: 0;

				.desktop {
					opacity: 0;
					transition: opacity 1.5s ease .1s;
				}

				.tablet {
					opacity: 0;
					transition: opacity 1.5s ease .4s;
				}

				.mobile {
					opacity: 0;
					transition: opacity 1.5s ease .7s;
				}

				&.inview {
					.desktop, .tablet, .mobile {
						opacity: 1;
					}
				}
			}
		}

	}

	&.other-projects {
		//background: url(../images/background3.png) 50% 0 no-repeat fixed;
		color: white; 

		@media screen and (min-width: $lg) { 
			.story {
				padding-bottom: 2rem;
			}
		}

		h2 {
			margin-left: 1rem;
			margin-bottom: 0.8rem;
		}

		.project {
			position: relative;

			img {
				max-width: 100%;
			}

			.caption {
				position: absolute;
				width: 100%;
				bottom: 0;
				background: rgba(10, 0, 0, 0.5);

				p {
					width: 77%;
					float: left;
					margin: 1rem 0 0 1rem;
					text-shadow: 1px 1px 2px #666;
				}

				a {
					float: right;
					margin: 0.5rem 0.5rem 0.5rem 0;

					.fa {
						font-size: 1rem;
						height: 1rem;
					}
				}
			}
		}
	}

	&.contact {
		background: $white;
		color: $black;

		a {
    		color: $grey;
  		}

  		.social {
  			list-style: none;
			padding: 0;
			margin: 2rem 0;
			display: block;
			height: 2rem;
  			
  			li {
  				float: left;
  				width: 20%;
  				text-align: center;
  			}
  		}
	}
}