// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

@import "breakpoints";
@import "colours";
@import "sections";
@import "aside";
@import "form";

* {
  box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Roboto', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background: #242424;
  color: #fafafa;
}

footer {
  text-align: center;
  font-weight: 100;
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: white;
}

.l-box {
  padding: 1rem 2rem;
}

.relative {
  position: relative;
}

h1 {
  text-transform: uppercase;
}

h1 {
  font-weight: 100;
  font-size: 1rem;
  margin: 0.25rem 0;
} 

h2 {
  font-size: 1.6rem;
  margin: 0.25em 0;
  text-transform: uppercase;

  i {
    margin-right: 0.625rem;
  }
}

h2, h3 {
  font-weight: 300;
}

.fa {
  font-size: 2rem;
  height: 2rem;
}