// bower:scss
// endbower

body {
  background: #242424;
  color: #fafafa;
}

#nav{
  list-style: none;
  position: fixed;
  right: 20px;
}

#nav li{
  margin: 0 0 15px 0; 
}

#header, #intro, #second{
  width: 100%;
}

#intro{
  background:url(../images/background1.png) 50% 0 no-repeat fixed;
  color: white;
  height: 600px;
  margin: 0 auto;
  padding: 0;
}

#second{
  background: url(../images/background2.png) 50% 0 no-repeat fixed;
  color: white;
  height: 1300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

#second .bg{
  background: url(../images/imac.png) 50% 0 no-repeat fixed;
  height: 1300px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 900px;
  z-index: 200;
}

#third{
  background: url(../images/background3.png) 50% 0 no-repeat fixed;
  color: white;
  height: 650px;
  padding: 100px 0 0 0; 
}

#fifth{
  background: #ccc;
  height: 400px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}

.story{
  margin: 0 auto;
  min-width: 980px;
  overflow: auto;
  width: 980px;
}

.story .float-left, .story .float-right{
  padding: 100px 0 0 0;
  position: relative;
  width: 350px; 
}

